extends layout

// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
//- profile = typeof(profile) != 'undefined' ? profile : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId
input(type='hidden', value= profile._id)#profileId

block content

    p #{profile.length} name: #{profile.name}

    #account-form-container
        form( method="post")#account-form.form-horizontal.well.span6
            h1 Edit Profile
            p#sub1.subheading Here you can edit the Profiles for your account.

            hr
            #user-cg.control-group
                label.control-label(for='user-tf') Username
                .controls
                    input#user-tf.input-xlarge.disabled(type='text', name='user', value= user.user, contenteditable='false')

            #profile-name-cg.control-group
                label.control-label(for='profile-name-tf') Profile Name
                .controls
                    input#profile-name-tf.input-xlarge(type='text', name='profile-name', value= profile.profileName)
            #description-cg.control-group
                label.control-label(for='age-tf') Description
                .controls
                    input#age-tf.input-xlarge(type='textarea', name='description', value= profile.description)

            p#sub2.subheading

            fieldset
                #name-cg.control-group
                    label.control-label(for='name-tf') Name
                    .controls
                        input#name-tf.input-xlarge(type='text', name='name', value= profile.name)
                #age-cg.control-group
                    label.control-label(for='age-tf') Age
                    .controls
                        input#age-tf.input-xlarge(type='text', name='age', value= profile.age)
                hr

                p#sub2.subheading

                .form-actions
                    button(type='button') Delete
                    button(type='submit') Save Profile
// display form errors in a custom modal window //
include modals/form-errors